<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title|default('啊姚大仙的博客') }}{% endblock title %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/nprogress.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/style.css') }}?v=2">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/font-awesome.min.css') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ static('/blog/images/icon.png') }}">
    <link rel="shortcut icon" href="{{ static('/blog/images/favicon.ico') }}">
    <script type="text/javascript" src="{{ static('/blog//js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/nprogress.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/yrh.js') }}"></script>
    {% block styles %}
    {% endblock styles %}
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>
{% block body %}
    {% block nav %}
    {% endblock nav %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        {% include 'blog/hotlist.html' %}
    </section>
{% endblock body %}
<footer class="footer">
    <div class="container">
        <a href="/" title="回到首页"><span>啊姚大仙的个人博客&nbsp;|</span></a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" title="查询登记"><span>&nbsp;沪ICP备18004947号</span></a>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="{{ static('/blog/js/bootstrap.min.js') }}"></script>
<script src="{{ static('/blog/js/jquery.ias.js') }}"></script>
<script src="{{ static('/blog/js/scripts.js') }}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
