<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title|default('啊姚大仙的博客') }}{% endblock title %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/nprogress.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/font-awesome.min.css') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ static('/blog/images/icon.png') }}">
    <link rel="shortcut icon" href="{{ static('/blog/images/favicon.ico') }}">
    <script type="text/javascript" src="{{ static('/blog//js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/nprogress.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/yrh.js') }}"></script>
    {% block styles %}
    {% endblock styles %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body %}
    {% include 'blog/nav.html' %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <aside class="sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
            {% include 'blog/hotlist.html' %}
        </aside>
    </section>
{% endblock body %}
<footer class="footer">
    <div class="container">
        <a href="/" title="回到首页"><span>啊姚大仙的个人博客&nbsp;|</span></a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" title="查询登记"><span>&nbsp;沪ICP备18004947号</span></a>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="{{ static('/blog/js/bootstrap.min.js') }}"></script>
<script src="{{ static('/blog/js/jquery.ias.js') }}"></script>
<script src="{{ static('/blog/js/scripts.js') }}"></script>
{% block scripts %}
{% endblock scripts %}
<script>
    if ("WebSocket" in window) {
        alert("您的浏览器支持 WebSocket!");

        // 打开一个 web socket
        ws = new WebSocket("ws://127.0.0.1:8888/blog/path");

        ws.onopen = function () {
            // Web Socket 已连接上，使用 send() 方法发送数据
            ws.send("发送数据");
            alert("数据发送中...");
        };

        ws.onmessage = function (evt) {
            var received_msg = evt.data;
            alert("数据已接收...");
            alert("数据:" + received_msg)
        };

        ws.onclose = function () {
            // 关闭 websocket
            alert("连接已关闭...");
        };
    } else {
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket!");
    }
</script>
</body>
</html>
