<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title|default('啊姚大仙的博客') }}{% endblock title %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/nprogress.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/style.css') }}?v=2">
    <link rel="stylesheet" type="text/css" href="{{ static('/blog/css/font-awesome.min.css') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ static('/blog/images/icon.png') }}">
    <link rel="shortcut icon" href="{{ static('/blog/images/favicon.ico') }}">
    <script type="text/javascript" src="{{ static('/blog//js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/nprogress.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/blog/js/yrh.js') }}"></script>
    {% block styles %}
    {% endblock styles %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body %}
    {% include 'blog/nav.html' %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <aside class="sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
            {% include 'blog/hotlist.html' %}
        </aside>
    </section>
{% endblock body %}
<footer class="footer">
    <div class="container">
        <a href="/" title="回到首页"><span>啊姚大仙的个人博客&nbsp;|</span></a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" title="查询登记"><span>&nbsp;沪ICP备18004947号</span></a>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="{{ static('/blog/js/bootstrap.min.js') }}"></script>
<script src="{{ static('/blog/js/jquery.ias.js') }}"></script>
<script src="{{ static('/blog/js/scripts.js') }}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
<script>
    if ("WebSocket" in window) {
        var protocol = location.protocol == 'http:' ? 'ws://' : 'wss://', old = {};
        var ws = new WebSocket(protocol + window.location.host + "/wb");

        ws.onopen = function () {
            // Web Socket 已连接上，使用 send() 方法发送数据
            ws.send("发送数据");
        };

        ws.onmessage = function (evt) {
            var received_msg = evt.data;
            {#console.log(JSON.parse(received_msg));#}
            var datas = JSON.parse(received_msg),
                info = '<table><tr>\n' +
                    '<th width="35%" height="15px">名称</th>\n' +
                    '<th width="30%" height="15px" align>现价</th>\n' +
                    '<th width="25%" height="15px">涨跌</th>\n' +
                    '<th width="10%" height="15px">涨幅</th>\n' +
                    '</tr>';
            $.each(datas, function (i, e) {
                if (e.hasOwnProperty('rate') && e.rate) {
                    if (e.rate < 0) e.color = '#008000';
                    else {
                        e.color = '#ff0000';
                        e.rate = '+' + e.rate;
                    }
                    e.rate = e.rate + '%'
                }
                if (old[i] < e.price) e.flag = 'class="valup"';
                else if (old[i] > e.price) e.flag = 'class="valdonw"';
                info += '<tr>';
                info += '<td><span>{name}</span></th>';
                info += '<td><span style="color:{color}" {flag}>{price}</span></td>';
                info += '<td><span style="color:{color}" {flag}>{range}</span></td>';
                info += '<td><span style="color:{color}" {flag}>{rate}</span></td>';
                info += '</tr>';
                info = info.format(e);
                old[i] = e.price;
            });
            info += '</table>';
            $('#notice').html(info);
            setTimeout(function () {
                $('#notice span').removeClass()
            }, 1000);
        };

        ws.onclose = function () {
            // 关闭 websocket
            console.log("websocket closed...");
        };
    }
</script>
</html>
