<div class="fixed">
    <div class="widget widget-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                      data-toggle="tab">市场行情</a></li>
            <li role="presentation"><a href="#weather" aria-controls="notice" role="tab"
                                       data-toggle="tab">天气状况</a></li>
            <li role="presentation"><a href="#contact" aria-controls="contact" role="tab"
                                       data-toggle="tab">支持作者</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane contact active" id="notice"></div>
            <div role="tabpanel" class="tab-pane contact" id="weather">
                <iframe width="225" scrolling="no" height="80" frameborder="0" allowtransparency="true"
                        src="//i.tianqi.com/index.php?c=code&id=8&bdc=%23&icon=1&num=3&site=12"></iframe>
            </div>
            <div role="tabpanel" class="tab-pane contact" id="contact">
                <span style="text-align: center;float: left;padding-left: 50px">
                    <p>微信扫一扫</p>
                    <img src="{{ static('/blog/images/my_weixin.png') }}" alt="微信打赏" width="100" height="100">
                </span>
                <span style="text-align: center;float: right;padding-right: 50px">
                    <p>支付宝扫一扫</p>
                    <img src="{{ static('/blog/images/my_alipay.png') }}" alt="支付宝打赏" width="100" height="100">
                </span>
            </div>
        </div>
    </div>
    <div class="widget widget_sentence">
        <h3>作品链接</h3>
        <div class="widget-sentence-link">
            {% for link in links %}
                <a href="{{ link.link }}" title="{{ link.name }}" target="_blank">{{ link.name }}</a>&nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>
    <div class="widget widget_search">
        <form class="navbar-form" action="{{ url('list',catalog='search') }}" method="GET">
            <div class="input-group">
                {{ csrf_input }}
                <input type="text" name="keyword" class="form-control" size="35" placeholder="输入关键字查找相关文章"
                       maxlength="15" autocomplete="off">
                <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span></div>
        </form>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>